[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gitlab.com"]
	helper = 
	helper = !/usr/bin/glab auth git-credential
[push]
	followTags = true
[user]
	name = Erick Christian
	email = erickchristian48@gmail.com
[core]
	editor = nvim
[alias]
	st = status
	aa = add -A
	rs = reset
	cm = commit -m
	ps = push
	pl = pull -r
	last = log -1

[fetch]
	prune = true
