[user]
name = Erick Christian
email = erickchristian48@gmail.com
; signingkey = ~/.ssh/id_ed25519.pub

; [gpg]
; 	format = ssh
; [commit]
; 	gpgsign = true

[core]
editor = zeditor

[credential "https://github.com"]
helper =
helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
helper =
helper = !/usr/bin/gh auth git-credential
[credential "https://gitlab.com"]
helper =
helper = !/usr/bin/glab auth git-credential

[fetch]
prune = true
[push]
followTags = true
[pull]
rebase = true
[init]
defaultBranch = main

[alias]
	s = status
	ps = push
	pl = pull
