spawn-sh-at-startup "wbg ~/dotfiles/assets/debian.png"

environment {
    QT_QPA_PLATFORMTHEME "qt5ct"
}

overview {
    backdrop-color "#141617"
}

input {
    warp-mouse-to-focus

    mouse {
        accel-profile "flat"
    }
}

layout {
    gaps 8

    focus-ring {
        width 2
        active-color "#ebdbb2"
    }

    struts {
        left 16
        right 16
    }
}

window-rule {
    clip-to-geometry true
    geometry-corner-radius 8
}

binds {
    Mod+T { spawn "kitty"; }
    Mod+E { spawn "nautilus"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn "pamixer" "-i" "5"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "pamixer" "-d" "5"; }
    XF86AudioMute        allow-when-locked=true { spawn "pamixer" "-t"; }

    Mod+D { toggle-overview; }

    Mod+F4 repeat=false { close-window; }
    Alt+F4 repeat=false { close-window; }

    Mod+Left  { focus-column-left; }
    Mod+Right { focus-column-right; }

    Mod+Ctrl+Left  { move-column-left; }
    Mod+Ctrl+Right { move-column-right; }

    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End  { move-column-to-last; }

    Mod+F { maximize-column; }

    Print { screenshot; }

    // Applications such as remote-desktop clients and software KVM switches may
    // request that niri stops processing the keyboard shortcuts defined here
    // so they may, for example, forward the key presses as-is to a remote machine.
    // It's a good idea to bind an escape hatch to toggle the inhibitor,
    // so a buggy application can't hold your session hostage.
    //
    // The allow-inhibiting=false property can be applied to other binds as well,
    // which ensures niri always processes them, even when an inhibitor is active.
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
}

hotkey-overlay {
    skip-at-startup
}
