@use "sass:math";

@use "../assets.scss";
@use "../easings.scss";
@use "../mixins.scss";
@use "../theme.scss";

.bar {
  background-size:
    auto 40%,
    100% 100%;
  background-repeat: no-repeat;

  padding: 0.5rem 0.5rem;

  &.weekday {
    background-image:
      url(assets.$weekday-bg-text-svg), url(assets.$sidebar-bg-svg);
  }

  &.weekend {
    background-image:
      url(assets.$weekend-bg-text-svg), url(assets.$sidebar-bg-svg);
  }
}

.bar .date-time {
  background-repeat: no-repeat;
  background-size: auto 100%;

  & .date {
    @include theme.font-heading;
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: -0.1em;

    color: theme.$fg1;

    &.separator {
      font-size: 2.25rem;
      font-weight: 400;
      margin: 0 -0.075em;
    }
  }

  & .time {
    @include theme.font-heading;
    font-size: 1.5rem;
    font-weight: 700;

    color: theme.$blue_light;
  }

  & .day {
    min-height: 4rem;
    min-width: 5rem;

    @include theme.font-heading;
    font-size: 1.5rem;
    color: theme.$fg1;

    background-image: url(assets.$weekday-bg-svg);
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center 75%;

    transform: translate(-0.5rem, -0.25rem);

    &.weekday {
      background-image: url(assets.$weekday-bg-svg);
    }
    &.weekend {
      background-image: url(assets.$weekend-bg-svg);
    }
  }
}

.bar .power-profile {
  all: unset;

  padding: 0.25rem;

  color: theme.$fg1;

  background-image: url(assets.$circle-bg-svg);
  background-size: 0% 0%;
  background-position: center;
  background-repeat: no-repeat;

  transition-property: all;
  transition-duration: 80ms;
  transition-timing-function: easings.$circIn;

  &.active {
    background-size: 100% 100%;

    color: theme.$fg0;

    & .icon {
      text-shadow: theme.$bg0 0.1em 0.1em;
    }
  }

  & .icon {
    @include theme.font-heading;

    font-size: 1.5rem;
    font-style: italic;
    font-weight: 900;
    letter-spacing: -0.075em;
  }
}

.bar .battery-indicator {
  all: unset;

  @include mixins.hover-indicator-horizontal;

  $rotation: -5deg;
  transform: rotate($rotation);

  color: theme.$fg1;

  transition-property: all;
  transition-duration: 80ms;
  transition-timing-function: easings.$circIn;

  &:hover {
    transform: scale(1.2) rotate($rotation - 2deg);
  }

  & .percentage {
    @include theme.font-heading;

    font-size: 1.5rem;
    font-style: italic;
    font-weight: 900;
    letter-spacing: -0.075em;
  }

  &:hover .percentage {
    color: theme.$fg0;
  }
}
