@use "../assets.scss";
@use "../theme.scss";
@use "../easings.scss";
@use "sass:math";

.bar {
  background-image: url(assets.$sidebar-bg-svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;

  padding: 1rem 0.5rem;
}

.bar label.day {
  min-height: 4rem;

  @include theme.font-heading;
  font-size: 1.5rem;
  color: theme.$fg1;

  background-image: url(assets.$weekday-bg-svg);
  background-size: 80% 80%;
  background-repeat: no-repeat;
  background-position: center 75%;

  &.weekday {
    background-image: url(assets.$weekday-bg-svg);
  }
  &.weekend {
    background-image: url(assets.$weekend-bg-svg);
  }
}

.bar button.power {
  all: unset;

  $min_rotation: 5;
  $random_rotation: math.random(10);
  $rotation: math.max($min_rotation, $random_rotation) * -1deg;
  transform: rotate($rotation);

  color: theme.$fg1;

  background-image: url(assets.$select-bg-svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 0%;

  transition-property: all;
  transition-duration: 80ms;
  transition-timing-function: easings.$circIn;

  &:hover {
    background-size: 100% 100%;
    transform: scale(1.2) rotate($rotation - 2deg);
  }

  label {
    @include theme.font-heading;

    font-size: 1.5rem;
    font-style: italic;
    font-weight: 900;
    letter-spacing: -0.075em;
  }

  &:hover label {
    color: theme.$fg0;
  }
}
