@use "sass:math";

@use "../../assets.scss";
@use "../../easings.scss";
@use "../../mixins.scss";
@use "../../theme.scss";

@forward "./date-time.scss";
@forward "./power.scss";

.bar {
  background-size:
    auto 40%,
    100% 100%;
  background-repeat: no-repeat;

  padding: 0.5rem 0.5rem;

  &.weekday {
    background-image:
      url(assets.$weekday-bg-text-svg), url(assets.$sidebar-bg-svg);
  }

  &.weekend {
    background-image:
      url(assets.$weekend-bg-text-svg), url(assets.$sidebar-bg-svg);
  }
}
