window#waybar {
  font-family: "JetBrainsMono Nerd Font Mono";
  background-color: red;
  color: #d4be98;
}

window > box {
  padding: 4px;
}

.modules-right widget {
  background-color: transparent;
}

#clock.day {
  font-size: 48px;
  font-weight: 300;
  opacity: 0.25;
  color: rgba(212, 190, 152, 0.4);
  background-color: transparent;
}

#clock.date {
  font-size: 14px;
  font-weight: 500;
  background-color: transparent;
}

#clock.time {
  font-size: 18px;
  font-weight: 600;
  background-color: transparent;
}
